.task-card.active {
    border-color: #ff7900;
    box-shadow: 0 0 0 1px #ff7900;
}

.track-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

